[submodule "OpenAI/spinningup"]
	path = OpenAI/spinningup
	url = https://github.com/AmrMKayid/spinningup
[submodule "reinforcement-learning"]
	path = reinforcement-learning
	url = https://github.com/AmrMKayid/reinforcement-learning.git
